body::before {
    background-color: grey;
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

body .mblog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mblog .mblog__posts {
  max-width: 900px;
  min-height: 85%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.mdl-layout .mdl-layout__content {
  padding-top: 20px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/*
.mdl-layout__container {
   position: relative;
 }
*/
.mblog .mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 360px;
  height: 100%;
}
.mblog .mdl-card__title {
  padding: 16px;
  min-height: 120px;
}

.mblog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  min-height: 200px;
}
.mblog .mdl-card__media a,
.mblog .mdl-card__title a {
  color: inherit;
}
.mblog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
   font-size : 16px;
}

.mblog .mdl-card__supporting-text * {
    font-size : 16px;
}
/*
.mblog .mdl-card__supporting-text p {
    display : block;
}
*/

.mdl-card__supporting-text p {
    font-size : 16px;
}

.mblog .mdl-card__supporting-text strong {
  font-weight: 400;
}
.mblog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.mblog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.mblog:not(.mblog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.mblog .mdl-card__actions:first-child {
  margin-left: 0;
}
.mblog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}
.mblog .meta > .meta__favorites{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.mblog .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.mblog .mdl-card .meta.meta--fill {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mblog .meta > *:first-child {
  margin-right: 16px;
}
.mblog .meta > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mblog.is-small-screen .mblog__posts > .mdl-card.coffee-pic {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.mblog.is-small-screen .mblog__posts > .mdl-card.something-else {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.mblog .something-else .mdl-card__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mblog .something-else > button {
  position: absolute;
  top: 0;
  right: 28px;
  -webkit-transform: translate(0px, -28px);
      -ms-transform: translate(0px, -28px);
          transform: translate(0px, -28px);
}
.mblog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.mblog .something-else .mdl-card__media img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.mblog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.mblog .mblog__posts > .m-nav {
  margin: 12px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
}
.mblog .mblog__posts > .m-nav > .m-nav__button {
  color: white;
  text-decoration: none;
}
.mblog .mblog__posts > .m-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.mblog .mblog__posts > .m-nav > .m-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.mblog .mblog__posts > .m-nav > .m-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.mblog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.mblog .mdl-card h3 {
  margin: 0;
}
.mblog .mdl-card h3 a {
  text-decoration: none;
}
.mblog .mdl-card h3.quote:before, .mblog .mdl-card h3.quote:after {
  display: block;
  margin-top: 0.5em;
}
.mblog .mdl-card h3.quote:before {
  content: '“';
}
.mblog .mdl-card h3.quote:after {
  content: '”';
}
.mblog--blogpost .custom-header {
  background-color: transparent;
}

.mblog--blogpost .comments {
  background-color: #EEE;
}
.mblog--blogpost .meta > * {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mblog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mblog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

.mblog--blogpost .comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 32px;
  box-sizing: border-box;
}
.mblog--blogpost .comments > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-diretion: row;
  margin-bottom: 16px;
}
.mblog--blogpost .comments > form .mdl-textfield {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 16px;
  color: rgb(97, 97, 97);
}
/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.mblog--blogpost .comments > form .mdl-textfield .mdl-textfield__input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mblog--blogpost .comments > form .mdl-textfield input,
.mblog--blogpost .comments > form .mdl-textfield textarea {
  resize: none;
}
.mblog--blogpost .comments > form button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}
.mblog--blogpost .comments .comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.mblog--blogpost .comments .comment > .comment__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.mblog--blogpost .comments .comment > .comment__header > .comment__avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 16px;
}

.mblog--blogpost .comments .comment > .comment__header > .comment__author {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mblog--blogpost .comments .comment > .comment__text {
  line-height: 1.5em;
}
.mblog--blogpost .comments .comment > .comment__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  margin-top: 16px;
}
.mblog--blogpost .comments .comment > .comment__actions button {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.24);
}
.mblog--blogpost .comments .comment > .comment__answers {
  padding-top: 32px;
  padding-left: 48px;
}

.mblog--blogpost .m-back {
  position: absolute;
  top: 10px;
  left: 20%;
  color: white;
  z-index: 9999;
}

.mblog .section-spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mblog .something-else {
  overflow: visible;
  z-index: 10;
}
.mblog .amazing .mdl-card__title {
  /*background-color: #263238;*/
}
.mblog .minilogo {
  width: 44px;
  height: 44px;
  /*background-image: url('../images/avatar.png');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}

.mdl-mini-footer {
  margin-top: 80px;
  height: 80px;
  padding: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.contact-card-image.mdl-card {
  background: center / cover;
}

.contact-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
}

.contact-card-name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

/*
@media screen and (min-width: 1024px) {
aside {
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 40px;
  padding-top: 0px;
}
}
@media screen and (max-width: 1024px) {
aside {
    display : none;
}
}
*/

.title.mdl-card {
 min-height: 0px;
 background-color: #263238;
 padding: 20px;
}

.mdl-navigation__link {
 margin: auto;
 padding: 30px;
 color: white;
 font-size: 1em;
}

.card-title.mdl-card__title-text {
color : black;
}

.social-buttons {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-direction: normal;
 -webkit-box-pack: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
}

.nav-header {
  max-width: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 20px;
  margin-top: 20px;
}

.nav-header.mdl-card {
min-height: 0px;
}

.shareList ul {
list-style-type: none;
}

.shareList li {
list-style-type: none;
}

.contact-card {
z-index : 9999;
}

.social-anchors {
padding : 10px;
}

.drawer_title {
border-bottom-color: white;
align-content: center;
text-align: center;
padding : 16px;
}

/*
.entry-title {
    background: rgba(0, 0, 0, 0.2);
}
*/

.page-text p {
    width : calc(100% - 16px);
    padding: 16px;
    min-height: 64px;
    -webkit-box-align: center;
    webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size : 16px;
}

.page-card {
 width : 100%;
 height : 100%;
 min-height : 100%;
}

.drawer_title .mdl-card__title {
    text-align: center;
}

.site-title
{
    font-size: 2em;
}

.mdl-layout__drawer .mdl-card {
 width : 100%;
}

.cat_links {
 margin : 10px;
}

.nav_links {
 margin : 10px;
}

.cat_title {
text-align: center;
height : 100%;
}

.fill-page-block {
 min-height: 80%;
 max-width: 900px;
}

.mblog--blogpost .mblog__posts > .mdl-card .mdl-card__title {
  height: 140px;
}

@media (max-width: 900px) {
 .mblog--blogpost .mblog__posts > .mdl-card .mdl-card__media
 {
  height: 140px;
 }

}

@media (min-width: 900px) {
 .mblog--blogpost .mblog__posts > .mdl-card .mdl-card__media {
   height: 280px;
 }
}

.mblog .mdl-card pre.quote:before {
  content: '“';
}

.mblog .mdl-card pre.quote:after {
  content: '”';
}

.mobile-links {
    padding : 10px;
    text-align: right;
}

.mdl-navigation__link_mobile {
    padding : 10px;
    margin: auto;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.archive_link {
    font-size: 1em;
    padding : 10px;
}

.archive_date {
    /* font-size : 0.75em; */
    padding : 10px;
    margin-right: 40px;
    text-align: right;
}
