
{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}

    <!-- from SO -->
    <script type="text/javascript">
            function bookmark() {
                // Mozilla Firefox Bookmark
                if ('sidebar' in window && 'addPanel' in window.sidebar) {
                    window.sidebar.addPanel(location.href,document.title,"");
                } else if( /*@cc_on!@*/false) { // IE Favorite
                    window.external.AddFavorite(location.href,document.title);
                } else { // webkit - safari/chrome
                    alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                }
            };
    </script>

            <!--
            <div class="m-back">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
                    <i class="material-icons" role="presentation">arrow_back</i>
                </a>
            </div>
            -->
            <div class="mblog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                 {% if article.titleimage %}
                    <div class="mdl-card__media mdl-color-text--grey-50 mdl-color--primary" style="background-image : url({{ SITEURL }}/images/{{ article.titleimage }});">
                     <!-- entry title -->
                     <h3 class="entry-title">
                      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                      title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                    </div>
                  {% else %}
                  <div class="mdl-card__title mdl-color-text--grey-50 mdl-color--primary">
                   <!-- entry title -->
                   <h3 class="entry-title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                  </div>
                  {% endif %}
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div class="minilogo" style="background-image: url({{USER_AVATAR_URL}})"></div>
                        <div>

                         <abbr class="published" title="{{ article.date.isoformat() }}">
                          {{ article.locale_date }}
                         </abbr>
                         {% if article.modified %}
                         <abbr class="modified" title="{{ article.modified.isoformat() }}">
                          {{ article.locale_modified }}
                         </abbr>
                         <address class="vcard author">
                         {% endif %}
                         <!--
                         {% if article.authors %}
                          By {% for author in article.authors %}
                          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                          {% endfor %}
                         </address>
                         {% endif %}
                          -->
                            <!--
                            <strong>The Newist</strong>
                            <span>2 days ago</span>
                           -->
                        </div>
                        <div class="section-spacer"></div>
                        <!--
                        <div class="meta__favorites">
                            425 <i class="material-icons" role="presentation">favorite</i>
                            <span class="visuallyhidden">favorites</span>
                        </div>
                       -->
                        <div>
                        <button id="bookmark-button" class="mdl-button mdl-js-button mdl-button--icon" onclick="bookmark()">
                            <i class="material-icons" role="presentation">bookmark</i>
                            <span class="visuallyhidden">bookmark</span>
                        </button>
                        </div>

                        <div id="share-section">

                         <button id="share-button"
                                 class="mdl-button mdl-js-button mdl-button--icon">
                                 <i class="material-icons" role="presentation">share</i>
                         </button>

                         <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                             for="share-button">
                          {% include 'share.html' %}
                         </ul>

                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                         {{ article.content }}
                    </div>
                </div>

                <nav class="m-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                    {% for a in articles %}
                    {% if a == article %}
                    {% set article_index = loop.index0 %}
                    {% if article_index - 1 >= 0 %}
                    <a href="{{ articles[article_index-1].url }}" class="m-nav__button">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_back</i>
                        </button>
                        Newer
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor  %}

                    <div class="section-spacer"></div>
                    {% for a in articles %}
                    {% if a == article %}
                    {% set article_index = loop.index0 %}
                    {% if article_index + 1 < articles | count %}
                    <a href= "{{ articles[article_index+1].url }}" class="m-nav__button">
                        Older
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor  %}
                </nav>
                {% if GOOGLE_PLUS_COMMENTS %}
                <script src="https://apis.google.com/js/plusone.js"></script>
                <div id="comments" class="mdl-cell mdl-cell--12-col"> </div>
                <script>
                gapi.comments.render('comments', {
                 href: window.location,
                 width: '900',
                 first_party_property: 'BLOGGER',
                 view_type: 'FILTERED_POSTMOD'
                });
                </script>
                {% endif %}
            </div>
        <div class="mdl-layout__obfuscator"></div>


{% endblock %}
