{% extends "base.html" %}
{% block content %}

<!--
<div class="mblog mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="mblog__posts mdl-grid">
-->

<div class="mblog__posts mdl-grid">

{% block content_title %}
{% endblock %}

{% for article in articles_page.object_list %}
{% if article.titleimage %}
<div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-color-text--grey-50 mdl-color--primary" style="background-image : url({{ SITEURL }}/images/{{ article.titleimage }}); background-size:   cover; ">
        <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
    </div>

    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      {{ article.summary }}
    </div>

    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo" style="background-image: url({{USER_AVATAR_URL}})"></div>
        <div>
            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
            <!--
            <address class="vcard author">By
            {% for author in article.authors %}
                {{ author }}
            {% endfor %}
            </address>
            -->
        </div>
    </div>
</div>
{% else %}
<div class="mdl-card amazing mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-color-text--grey-50 mdl-color--primary">
        <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      {{ article.summary }}
    </div>

    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo" style="background-image: url({{USER_AVATAR_URL}})"></div>
        <div>
            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
            <!--
            <address class="vcard author">By
            {% for author in article.authors %}
                {{ author }}
            {% endfor %}
            </address>
            -->
        </div>
    </div>
</div>
{% endif %}

{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
<!-- </section> /#content -->
<!--
</div>
</main>
-->
</div>
{% endblock content %}
